@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Caudex:ital,wght@0,400;0,700;1,400;1,700&display=swap');
  /*Asterisk to override browser default*/
* {
    /*Code from Love Running project*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*Style for footer*/
footer {
    background-color: grey;
    width: 100%;
    letter-spacing: 2px;
    padding: 15px;
    text-transform: capitalize;
    color: black;
    font-size: 18px;
    font-weight:90%;
}

footer a {
    letter-spacing: 20px;
    font-size: larger;
}