/*Google font*/
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Lato:ital,wght@0,400;0,700;1,300;1,400;1,700&display=swap');

/*Asterisk to override browser default*/
* {
    /*Code from Love Running project*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;


}

header {
    background-color: white;
    padding: 1rem;
    position: fixed;
    width: 100%;
    text-transform: uppercase;
    border-bottom: 2px solid rgb(198, 194, 194);
}

header>a {
    text-decoration: none;
}

h1 {
    font-size: 25px;
    font-family: 'Bakbak One', cursive;
    color: grey;
    letter-spacing: 2px;
    text-transform: capitalize;
}

h2,
h3,
h4 {
    font-size: 19px;
    font-family: 'Bakbak One', cursive;
    color: grey;
    letter-spacing: 2px;
    padding: 1rem;
    text-transform: capitalize;
}

h4 {
    font-size: 17px;
}


nav ul a {
    text-decoration: none;
    color: grey;
}

nav {
    margin-top: 1em;
}

#links>li {
    font-size: 15px;
    font-weight: 90%;
    list-style-type: none;
    letter-spacing: 2px;
    margin-bottom: 1em;
    display: inline-block;
    margin-right: 1em;
}

main {
    background-color: whitesmoke;
    /*Code from love running*/
    min-height: 100vh;
    flex: 1 0 auto;
    margin-top: 182px;
}

/*Home image*/
#img-paradise {
    background: url('../images/A\ perfect\ world.jpg') no-repeat center /cover;
    height: 400px;
    width: 100%;
    left: 5px;

}

/*Sign up style*/
#learn-more {
    text-align: center;
}

fieldset {
    color: grey;
    border: none;
    text-transform: capitalize;
}

legend {
    margin-bottom: 1em;
    letter-spacing: 2px;
}

#form {
    background-color: rgba(210, 207, 207, 0.7);
    padding: 25px;
}

.details {
    padding: 5px 15px;
    border-radius: 15%;
    margin-bottom: 1rem;
}

#submit {
    background-color: green;
    color: white;
    font-size: large;
    margin: 5px 25px;
    padding-right: 10px;
    padding-left: 10px;
}

/*See other pages section*/
.other-pages {
    padding: 0 1rem;
}

.img {
    background: url('../images/The\ earth.jpg') no-repeat center / cover;
    height: 158px;
    padding: 2px;
    display: flex;
}

.ul {
    padding: 4px;
}

.inner-text {
    background-color: rgb(113, 112, 112, .6);
    color: rgb(255, 255, 255);
    margin-right: 3px;
    border-radius: 50%;
    padding: 6px;
    align-self: flex-end;
}

/*Suffering image*/
#suffering {
    background: url('../images/suffering.jpg') no-repeat center / cover;
    height: 158px;
    width: 100%;
    padding: 2px;
}

/*Loved one's image*/
#loved-one {
    background: url('../images/dead\ once\'s.jpg') no-repeat center / cover;
    height: 158px;
    width: 100%;
    padding: 2px;
}

#text-paragraph {
    color: grey;
    font-size: 15px;
    padding: 5px;
    margin-bottom: 1em;
}

strong {
    background-color: greenyellow;
}

/*Style for footer*/
footer {
    background-color: white;
    width: 100%;
    letter-spacing: 2px;
    padding: 10px;
    text-transform: capitalize;
    color: grey;
    font-size: 18px;
    font-weight: 90%;
}

footer a {
    letter-spacing: 20px;
    font-size: larger;
    color: grey;
}

/*Media query for laeger screen*/
@media screen and (min-width: 768px) {
    nav {
        display: flex;
        justify-content: flex-end;
    }

    #question {
        text-align: center;
    }

    footer {
        display: flex;
        justify-content: center;
    }

    footer>span {
        margin-right: 3em;
    }

    footer>a {
        margin-right: 4em;
    }

}