/*Google font*/
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Lato:ital,wght@0,400;0,700;1,300;1,400;1,700&display=swap');

  /*Asterisk to override browser default*/
* {
    /*Code from Love Running project*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    
}

header{
    background-color:azure;
    color: aqua;
    padding: 1rem;
    text-transform: uppercase;
    border-bottom: 2px solid rgb(198, 194, 194);
}
header > a{
    text-decoration: none;
}
h1{
    font-size: 35px;
    font-family: 'Bakbak One', cursive;
}

#links >li{
    list-style-type: none;
    letter-spacing: 2px;
    margin-bottom: 1em;
    font-weight: 300%;
}
main{
    background-color:grey;
    /*Code from love running*/
    flex: 1 0 auto;
}
/*Style for footer*/
footer {
    background-color:azure;
    width: 100%;
    letter-spacing: 2px;
    padding: 15px;
    text-transform: capitalize;
    color: black;
    font-size: 18px;
    font-weight:90%;
}

footer a {
    letter-spacing: 20px;
    font-size: larger;
}